* {
    box-sizing: border-box;
}

.text {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    border: 1px solid black;
    margin: 5px;
    padding: 20px;
}

.container {
    display: flex;
    
    flex-wrap: wrap;
    flex-direction: column;
    align-items: stretch;
    max-width: 15vw;
    height: 35rem;
}

/* h2 {
    transform:skew(60deg, -30deg) scaleY(.66667);
}
h3 {
    transform:skew(20deg, -400deg) scaleY(2);

} */
/* .container:nth-child(1) {
    flex: auto;
} */