* {
    box-sizing: border-box;
}
body {
    background-color: #EEE;
    padding: 5rem;
    display: flex;
    flex-wrap: wrap;
}

body>* {
    margin: 20px;
    border: 2px solid lightcoral;
    padding: 2rem;
    background-color: #fff;
    border-radius: 0.4rem;
    color: #000;

}

header,footer { 
    flex-basis: 100%;
}

main{
    flex: 8 1 40rem;
}

aside {
    flex: 2 1 20rem;
}