h1 {
    position: absolute;
    top: 160px;
    left: 620px;
    color: antiquewhite;
    text-shadow: 1px 1px 20px black;
    font-size: 54px;
}

body {
    height: 100vh;
}

img {
    width: 100%;
    height: 100%;
}