body {
    background-color: rgb(238, 238, 238);
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.card {
    margin: 50px;
    padding: 30px;
    max-width: 27vw;
    min-height: 55vh;
    max-height: 70vh;
    border-radius: 6px;
    overflow: hidden;
    position: relative;
    /* color: white; */
    background-color: rgb(255, 255,  255);
}

.image-div {
    height: 50%;
    top: 0px;
    left: 0px;
    object-fit: cover;
}

.description-div {
    position: relative;
    bottom: 0px;
    right: 0px;
    height: 50%;
}
a {
    background-color: rgb(0, 153, 0);
    text-decoration: none;    
    border-radius: 3px;
    position: absolute;
    bottom: 20px;
    right: 50px;
    padding: 12px;
    color: white;

}