* {
    box-sizing: border-box;
}

body {
    padding: 80px;
}

header * {
    display: inline-block;
}
header>ul {
    float: right;
    margin-right: 30px;
}

main {
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-areas: "article article aside";
}

article {
    grid-area: article;
}

aside {
    grid-area: aside;
    margin: 30px;
}

a {
    color: rgb( 0, 102, 0);
    text-decoration: none;
}

.article-1 img {
        width: 300px;
        float: right;
        margin: 10px;
        padding: 10px;
        border: 2px solid grey;
}
.article-2 img{
    width: 300px;
    float: left;
    margin: 10px;
    padding: 10px;
    border: 2px solid grey;
}